*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
body{
    font-family: 'Fira Sans', sans-serif;
}
body>.container-fluid{
    height: 94vh;
    /* background-image:linear-gradient(to right top,#1b0049, #182C61, green); */
}

body>.container-fluid>div{
background: rgba(0, 0, 0, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(px);
min-width: 500px;
max-width: 600px;
}
ion-icon.btn{
    font-size: 24px;
}

@media (max-width:600px) {
    body>.container-fluid>div{
        min-width: 350px;
    }
}
